<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <title>Patients</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <script src="/webjars/jquery/3.7.1/jquery.min.css"></script>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.css">
</head>
<body>
<div layout:fragment="content" class="p=3 m=2">
    <div class="card">
        <button th:if="${#authorization.expression('hasRole(''ADMIN'')')}"><a class="btn btn-success" th:href="@{/enseignant/admin/form}">Ajout Enseignement</a></button>
        <div class="card-header">Liste des Enseignants</div>
        <div class="card-body">
            <form method="get" th:action="@{/enseignant/user/index}">
                <label>key word</label>
                <input type="text" name="keyword" th:value="${keyword}" class="form-control d-inline w-auto">
                <button type="submit" class="btn btn-primary">Recherche</button>
            </form>

            <table class="table">
                <thead>
                <tr>
                    <th>ID</th><th>NOM</th><th>PRENOM</th><th>MATRICULE</th><th>GRADE</th><th>choix</th><th th:if="${#authorization.expression('hasRole(''ADMIN'')')}">OPERATIONS</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="p:${listeEnseignants}">
                    <td th:text="${p.id}"></td>
                    <td th:text="${p.nom}"></td>
                    <td th:text="${p.prenom}"></td>
                    <td th:text="${p.matricule}"></td>
                    <td th:text="${p.grade}"></td>
                    <td>
                        <a class="btn btn-info" th:href="@{/choix/user/indexChoix2(keyword=${p.id})}">
                            <i class="bi bi-eye"></i>
                        </a>
                    </td>
                    <td th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                        <a onclick="return confirm('Voulez vous réellement supprimer ?')" class="btn btn-danger"
                           th:href="@{/enseignant/admin/deleteEnseignant(id=${p.id},keyword=${keyword},page=${currentPage})}">
                            <i class="bi bi-trash"></i>
                        </a>
                        <a class="btn btn-success" th:href="@{/enseignant/admin/editEnseignant(id=${p.id},keyword=${keyword},page=${currentPage})}">
                            <i class="bi bi-pen"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <ul class="nav nav-pills">
                <li th:each="page , status: ${pages}" class="nav-item">
                    <a th:class ="${status.index == currentPage} ? 'btn btn-primary ms-1' : 'btn btn-outline-primary ms-1'"
                       th:text="${status.index}"
                       th:href="@{/enseignant/user/index(page=${status.index}, keyword=${keyword})}">
                    </a>
                </li>
            </ul>

        </div>
    </div>
</div>

</body>
</html>