<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <title>Patients</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content">

    <div class="col-md-6 offset-3">
        <form method="post" th:action="@{/classe/admin/saveClasse(page=${page},keyword=${keyword})}" class="">
            <div>
                <label>ID : </label>
                <input class="form-control" type="text" name="id" th:value="${classe.id}" />
            </div>

            <div>
                <label>Code : </label>
                <input class="form-control" type="text" name="nom" th:value="${classe.nom}" />
                <span class="text-danger" th:errors="${classe.nom}"></span>
            </div>
            <div>
                <label>Niveau  : </label>
                <input class="form-control" type="text" name="niveau" th:value="${classe.niveau}" />
                <span class="text-danger" th:errors="${classe.niveau}"></span>
            </div>
            <div>
                <label>Effectifs : </label>
                <input class="form-control" type="text" name="effectif" th:value="${classe.effectif}" />
                <span class="text-danger" th:errors="${classe.effectif}"></span>
            </div>
            <div>
                <label>Formation : </label>
                <select class="form-control" type="text" name="classeFr" th:value="${classeFr}">
                    <option th:each="choix1 : ${formation}"
                            th:value="${choix1.id}"
                            th:text="${choix1.nom}">
                    </option>
                </select>
            </div>




            <!--       <div>
                       <label>Email : </label>
                       <input class="form-control" type="email" name="email" th:value="${enseignant.email}" />
                       <span class="text-danger" th:errors="${enseignant.email}"></span>
                   </div>

                   <div>
                       <label>Score : </label>
                       <input class="form-control" type="number" name="password" th:value="${enseignant.password}" />
                       <span class="text-danger" th:errors="${enseignant.password}"></span>
                   </div>-->

            <div><button type="submit" class="btn btn-primary">Save</button></div>

    </form>

</div>
</div>
</body>
</html>