<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Emploi du Temps</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ccc;
            text-align: center;
            padding: 10px;
        }
        .CM {
            background-color: #FFF895;
        }
        .TD {
            background-color: #FF3700B3;
        }
        .TP {
            background-color: #FF018786;
        }
        .default {
            background-color: #eee;
        }
    </style>
    <!--<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.js"></script>-->
</head>
<body>
<div layout:fragment="content">
<h1>Emploi du Temps</h1>
    <div class="col-md-6">
        <p>
            <span th:text="${seance.seanceENG.ecEnseignement.ueEC.ueMaquette.classeM.niveau}">Pepper</span>
            - <span th:text="${seance.seanceENG.ecEnseignement.ueEC.ueMaquette.classeM.nom}">Sebastian</span>
            - <span th:text="${emplois.semestre}">Pepper</span>
            - <span th:text="${emplois.annee}">Pepper</span>
        </p>
    </div>
    <table>
        <thead>
        <tr>
            <th>Nb Seance</th>
            <th>LIBELLE</th>
            <th>TYPE</th>
            <th>HEURE DEB</th>
            <th>HEURE FIN</th>
            <th>SALLE</th>
            <th>NOM PEOF</th>
            <th>PRENOM PEOF</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ligne, iter : ${tableau}">
            <td th:text="'Sean ' + ${iter.index + 1}"></td>
            <td th:each="cellule : ${ligne}"
                th:classappend="${cellule.seanceENG != null} ? ${cellule.seanceENG.type} : 'default'"
                th:text="${cellule.seanceENG != null ? cellule.seanceENG.libelle : 'Libre'}">
            </td>
            <td th:each="cellule : ${ligne}"
                th:classappend="${cellule.seanceENG != null} ? ${cellule.seanceENG.type} : 'default'"
                th:text="${cellule.seanceENG != null ? cellule.seanceENG.type : 'Libre'}">
            </td>
            <td th:each="cellule : ${ligne}"
                th:classappend="${cellule.seanceENG != null} ? ${cellule.seanceENG.type} : 'default'"
                th:text="${cellule.heureDeb}">
            </td>
            <td th:each="cellule : ${ligne}"
                th:classappend="${cellule.seanceENG != null} ? ${cellule.seanceENG.type} : 'default'"
                th:text="${cellule.heureFin}">
            </td>
            <td th:each="cellule : ${ligne}"
                th:classappend="${cellule.seanceENG != null} ? ${cellule.seanceENG.type} : 'default'"
                th:text="${cellule.seanceSA != null ? cellule.seanceSA.nom : 'Libre'}">
            </td>
            <td th:each="cellule : ${ligne}"
                th:classappend="${cellule.seanceENG != null} ? ${cellule.seanceENG.type} : 'default'"
                th:text="${cellule.seanceENG != null ? cellule.seanceENG.getChoix().get(0).enseignants.nom : 'Libre'}">
            </td>
            <td th:each="cellule : ${ligne}"
                th:classappend="${cellule.seanceENG != null} ? ${cellule.seanceENG.type} : 'default'"
                th:text="${cellule.seanceENG != null ? cellule.seanceENG.getChoix().get(0).enseignants.prenom : 'Libre'}">
            </td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>