<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Patients</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
</head>
<body>
<div fragment="content">

  <div class="col-md-6 offset-3">
    <form method="post" th:action="@{/saveSalle}" class="">
      <div>
        <label for="id">ID : </label>
        <input id="id" class="form-control" type="text" name="id" th:value="${salle.id}" />
      </div>

      <div>
        <label>Nom : </label>
        <input class="form-control" type="text" name="nom" th:value="${salle.nom}" />
        <span class="text-danger" th:errors="${salle.nom}"></span>
      </div>

      <div><div>
        <label>Capacite : </label>
        <input class="form-control" type="text" name="prenom" th:value="${salle.capacite}" />
        <span class="text-danger" th:errors="${salle.capacite}"></span>
      </div>
        <div>
          <label>Batiment : </label>
          <input class="form-control" type="text" name="prenom" th:value="${salle.batiment}" />
          <span class="text-danger" th:errors="${salle.batiment}"></span>
        </div>


        <!--       <div>
                   <label>Email : </label>
                   <input class="form-control" type="email" name="email" th:value="${enseignant.email}" />
                   <span class="text-danger" th:errors="${enseignant.email}"></span>
               </div>

               <div>
                   <label>Score : </label>
                   <input class="form-control" type="number" name="password" th:value="${enseignant.password}" />
                   <span class="text-danger" th:errors="${enseignant.password}"></span>
               </div>-->

        <div><button type="submit" class="btn btn-primary">Save</button></div>

      </div>

    </form>

  </div>
</div>
</body>
</html>