<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <title>Patients</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <script src="/webjars/jquery/3.7.1/jquery.min.css"></script>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.css">
</head>
<body>
<div class="p=3 m=2">
    <div layout:fragment="content" class="card">
        <div class="card-header">Liste des ECs</div>
        <div class="card-body">
            <form method="get" th:action="@{/ec/user/indexEc2}">
                <label>key word</label>
                <input type="text" name="keyword" th:value="${keyword}" class="form-control d-inline w-auto">
                <button type="submit" class="btn btn-primary">Recherche</button>
            </form>

            <table class="table">
                <thead>
                <tr>
                    <th>ID</th><th>CODE</th><th>LIBELLE</th><th>CREDIT</th><th>COEF</th><th>CM</th><th>TD</th><th>TP</th><th>CODE UE</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="p:${listeEcs}">
                    <td th:text="${p.id}"></td>
                    <td th:text="${p.libelle}"></td>
                    <td th:text="${p.code}"></td>
                    <td th:text="${p.credit}"></td>
                    <td th:text="${p.coef}"></td>
                    <td th:text="${p.cm}"></td>
                    <td th:text="${p.td}"></td>
                    <td th:text="${p.tp}"></td>
                    <td th:text="${p.ueEC != null ? p.ueEC.code : 'Pas de UE'}"></td>
                </tr>
                </tbody>
            </table>
            <ul class="nav nav-pills">
                <li th:each="page , status: ${pages}" class="nav-item">
                    <a th:class ="${status.index == currentPage} ? 'btn btn-primary ms-1' : 'btn btn-outline-primary ms-1'"
                       th:text="${status.index}"
                       th:href="@{/ec/user/indexEc2(page=${status.index}, keyword=${keyword})}">
                    </a>
                </li>
            </ul>


        </div>
    </div>
</div>

</body>
</html>